{
  "overrides": [
    {
      "files": [
        "*.mts",
        "*.cts"
      ],
      "plugins": [
        "@typescript-eslint"
      ],
      "extends": "love",
      "parser": "@typescript-eslint/parser",
      "rules": {
        "@typescript-eslint/no-extraneous-class": "off",
        "no-undef": "off"
      }
    }
  ]
}
